@font-face {
  font-family: "DMSansItalic";
  src: url(fonts/DM_Sans/DMSans-Italic.ttf);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(131, 168, 166);
  color: white;
  font-family: "DMSansItalic";
}

section {
  display: flex;
  justify-content: center;
}

.loginBox {
  border: 3px solid white;
  border-radius: 10px;
  margin-top: 20vh;
  width: 400px;

  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

section h2 {
  text-align: center;
  font-size: 2.2rem;
  letter-spacing: 3px;
  padding: 0px;
  margin: 2rem 0rem 2.5rem 0rem;
}

.loginForm {
  position: relative;
  width: 100%;
}

.emailForm {
  margin-bottom: 3.2rem;
}

.passwordForm {
  margin-bottom: 1rem;
}

.loginInput {
  position: relative;
  height: 2rem;
  font-size: 1.2rem;
  margin: 0px 1rem;
  width: calc(100% - 2rem);
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  background: transparent;
}

.loginLabel {
  position: absolute;
  font-size: 1.2rem;
  left: 1rem;
  bottom: 0.4rem;
  transition-duration: 0.7s;
}

input:focus + label,
input:valid + label,
input:hover + label {
  transform: translateY(-2rem);
}

.loginForm span {
  position: absolute;
  right: 1rem;
  bottom: 0px;
  font-size: 1.4rem;
  padding-bottom: 0.4rem;
}

.smallContainer {
  font-size: 1.1rem;
  margin: 0px 2rem;
  display: flex;
  justify-content: space-between;
}

.smallContainer a {
  color: white;
  text-decoration: none;
}

.logInContainer {
  display: flex;
  justify-content: center;
  padding: 2rem 0px;
}

.logInButton {
  font-family: "DMSansItalic";
  font-size: 1rem;
  margin: 0;
  border-radius: 16px;
  width: 70%;
  aspect-ratio: 14/2;
  border: none;
}

div .register {
  text-align: center;
  margin-bottom: 1rem;
}
