@font-face {
  font-family: "RobotoLight";
  src: url(fonts/Roboto/Roboto-Light.ttf);
}

* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 16px;
  --main-font-color: rgb(77, 77, 77);
  --main-blue-color: #1463f3;
}

body {
  color: var(--main-font-color);
  font-family: "RobotoLight";
}

.loginSection {
  display: flex;
  justify-content: center;
  margin: 20vh 0 0 0;
}

.mainContainer {
  background: rgb(244, 244, 244);
  background: radial-gradient(
    circle,
    rgba(244, 244, 244, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  box-shadow: 0px 0px 15px 5px rgba(244, 244, 244, 1);
  -webkit-box-shadow: 0px 0px 15px 5px rgba(244, 244, 244, 1);
  -moz-box-shadow: 0px 0px 15px 5px rgba(244, 244, 244, 1);
  border: 1px solid rgb(233, 233, 233);
  border-radius: 2px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

/* Styling logo  */

.logoContainer {
  margin: 3rem auto 4rem auto;
}

.logoContainer img {
  width: 100px;
  display: block;
  padding: 0 auto;
}

/* Styling email and password form */

.emailContainer,
.passwordContainer {
  position: relative;
  margin: 0 1rem 5rem 1rem;
}

.passwordContainer {
  margin-bottom: 0.6rem;
}

.emailContainer input,
.passwordContainer input {
  font-size: 1.2rem;
  color: var(--main-font-color);
  background: transparent;
  width: 100%;
  font-family: "RobotoLight";
  height: 1.5rem;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--main-font-color);
}

.emailContainer label,
.passwordContainer label {
  position: absolute;
  font-size: 1.2rem;
  left: 0;
  bottom: 0.25rem;
  transition-duration: 0.35s;
}

.emailContainer span,
.passwordContainer span {
  position: absolute;
  right: 0;
  bottom: 0.1rem;
  font-size: 1.3rem;
}

/* Adding animations to email and password labels */

input:hover + label,
input:focus + label,
input:valid + label {
  transform: translateY(-2rem);
}

/* Styling rememberMeForgotPasswordContainer */

.rememberMeForgotPasswordContainer {
  margin: 0 2rem 5rem 2rem;
  display: flex;
}

.rememberMeContainer {
  display: flex;
  flex: 1;
  gap: 5px;
}

.rememberMeContainer input {
  cursor: pointer;
}

.forgotPasswordContainer {
  flex: 1;
  text-align: right;
}

/* Styling Log In button */

.loginBtnContainer {
  margin: 0 1rem 3rem 1rem;
}

.loginBtnContainer button {
  background-color: var(--main-blue-color);
  font-size: 1.2rem;
  color: white;
  width: 70%;
  aspect-ratio: 14/2;
  border: none;
  border-radius: 2px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  letter-spacing: 1px;
}

.loginBtnContainer button:hover {
  font-weight: 600;
}

/* Styling registerContainer */

.registerContainer {
  display: flex;
  margin: 0 1rem 2rem 1rem;
  justify-content: center;
  gap: 5px;
}

.registerLink a {
  letter-spacing: 1px;
}

/* Styling forgotPassword and register links */

a {
  color: var(--main-blue-color);
  text-decoration: none;
}

a:hover {
  display: block;
  scale: 1.05;
  font-weight: 600;
  transform: translateY(-0.1rem);
}
