@font-face {
  font-family: "RobotoLight";
  src: url(fonts/Roboto/Roboto-Light.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-font-color: #263544;
  --main-blue-color: #1463f3;
  --top-menu-right-padding: 1rem;
  --user-profile-image-height: 3rem;
  --top-menu-height: calc(
    (var(--user-profile-image-height) + (var(--top-menu-right-padding) * 2))
  );
}

body {
  font-family: "RobotoLight";
  color: var(--main-font-color);
}

.topMenu {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
}

.topMenuLeft {
  background-color: #263544;
  width: var(--hamburger-menu-closed);
  transition: width var(--animation-timing);
}

.topMenuRight {
  flex: 1;
  background-color: rgb(250, 250, 250);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: var(--top-menu-right-padding);
  padding-right: 0;
  gap: 50px;
  letter-spacing: 0.7px;
  font-size: 1.15rem;
}

.userProfile {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-right: 2rem;
}

.profilePicture img {
  display: block;
  height: var(--user-profile-image-height);
  border-radius: 1000px;
}

.sidebar-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}

.sidebar-icons span {
  font-size: 3rem;
}
